html {
  background-color: #39275b;
}

body {
  width: 600px;
  margin: 1em auto;
  background-color: white;
  border: 10px #d8c858 solid;
  padding: 0.5em;
}

hr {
  width: 90%;
  border: 1px solid #d8c858;
}

h1,
h2 {
  font-family: sans-serif;
  text-align: center;
}

input[type="submit"] {
  font-size: 2em;
  width: 100%;
}
.error {
  font-size: 0.7em;
  color: red;
  font-family: "Arial" sans-serif;
}
